<section class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Логотип">
      </div>
      <nav class="menu" [class.open]="isMenuOpen">
        <div class="close" (click)="mobileMenu()">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg"
               x="0px" y="0px"
               viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
        </div>
        <ul>
          <li class="menu-item">
            <a href="#macaroon" (click)="scrollTo(macaroonElement)">Пироженки</a>
          </li>
          <li class="menu-item">
            <a href="#about" (click)="scrollTo(aboutElement)">О нас</a>
          </li>
          <li class="menu-item">
            <a href="#order" (click)="scrollTo(orderElement)">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <div class="phone">
        {{ phoneNumber }}
      </div>
      <div class="burger" (click)="mobileMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40px" height="22px">
          <path fill-rule="evenodd"  fill="rgb(130, 19, 40)"
                d="M0.000,-0.000 L40.000,-0.000 L40.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
          <path fill-rule="evenodd"  fill="rgb(130, 19, 40)"
                d="M0.000,10.000 L40.000,10.000 L40.000,12.000 L0.000,12.000 L0.000,10.000 Z"/>
          <path fill-rule="evenodd"  fill="rgb(130, 19, 40)"
                d="M0.000,20.000 L40.000,20.000 L40.000,22.000 L0.000,22.000 L0.000,20.000 Z"/>
        </svg>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="container">
      <div class="main-content-text">
        <h1>Мягкие французские пироженки Macaroons</h1>
        <div class="main-content-description">
          Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
        </div>
        <div class="main-content-action">
          <button class="button" (click)="scrollTo(macaroonElement)">Выбрать макарун</button>
        </div>
      </div>
      <div class="main-content-image">
        <img src="assets/images/macaroons-main.png" alt="Картинка макарунов">
      </div>
    </div>
  </div>
</section>

<div class="bake" #aboutElement>
  <div class="container">
    <div class="bake-main">
      <div class="bake-info">
        <div class="bake-title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </div>
        <div class="bake-description">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="bake-image">
        <img src="assets/images/macaron-bake.png" alt="Макарун">
      </div>
    </div>
    <div class="advantages">
      <div class="advantage" *ngFor="let advantage of advantages; let i = index;">
        <div class="advantage-number"><span>{{i + 1}}</span></div>
        <div class="advantage-title">
          {{ advantage.title }}
        </div>
        <div class="advantage-description">
          {{advantage.description}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="choose" #macaroonElement>
  <div class="container">
    <h2>Выберите свой макарун</h2>
    <div class="choose-macaroon">
      <div class="macaroon" *ngFor="let macaroon of macaroons">
        <div class="macaroon-image">
          <img src="assets/images/{{macaroon.image}}" alt="Макарон">
        </div>
        <div class="macaroon-title">
          {{ macaroon.title }}
        </div>
        <div class="macaroon-actions">
          <div class="macaroon-amount">{{ macaroon.amount }}</div>
          <div class="macaroon-price">{{ macaroon.price }}</div>
          <button class="button" (click)="addToCart(macaroon, orderElement)">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="order" #orderElement>
  <div class="container">
    <div class="order-image">
      <div class="order-image-strawberry">
        <img src="assets/images/strawberry-adaptive1.png" alt="Strawberry">
      </div>
      <img src="assets/images/macaron-order.png" alt="Макарун" class="order-image-macaroon">
    </div>
    <div class="order-strawberry-adaptive">
      <img src="assets/images/strawberry-adaptive2.png" alt="Strawberry">
    </div>
    <div class="order-info">
      <h2>Закажите макарун!</h2>
      <div class="order-info-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order-form">
        <div class="order-form-choose">Ваш выбор</div>
        <input type="text" class="order-input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.macaroonTitle">
        <div class="order-form-details">Заполните данные для заказа</div>
        <input type="text" class="order-input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input type="text" class="order-input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="button">Оформить заказ</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <div class="rights">Все права защищены, 2020</div>
    <a class="insta" [href]="linkInsta">
      <img src="assets/images/instagram.png" alt="Инстаграм">
    </a>
    <a [href]="linkInsta" class="insta-text">Мы в Instagram</a>
    <div class="footer-phone">{{ phoneNumber }}</div>
  </div>
</footer>

<div class="present" *ngIf="showPresent">
  <div class="popup">
    <div class="present-text">Оформите заказ и получите подарок!</div>
    <!--        <div class="square"></div>-->
  </div>
  <button class="present-image">
    <img src="assets/images/present.png" alt="Present">
  </button>
</div>
